@font-face {
  font-family: "Fredoka";
  src: url("/fonts/Fredoka-VariableFont_wdth,wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  font-family: var(--font-sans);
}

.layout {
  min-height: 100vh;
  padding: var(--space-8) var(--space-6) var(--space-8);
}

.not-found {
  min-height: calc(100vh - (var(--space-8) * 2));
  display: grid;
  place-content: center;
  gap: var(--space-2);
  text-align: center;
}

.not-found h1 {
  font-size: 4rem;
}
